
<div class="row">

  <!-- left col -->
  <div class="col-3">
    <product-filter [category]="category"></product-filter>
  </div>

  <!-- right col -->
  <div class="col">
    <div class="line-flex">
      <div *ngFor="let p of filteredProducts" class="customer-card">
        <product-card [product]="p" [shoppingCart]="cart"></product-card>
      </div>
    </div>
  </div>
</div>
