
<div class="row">
    <!-- Left col. -->
    <div class="col-md-6">
        <form #f="ngForm" (ngSubmit)="save(f.value)">

            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" type="text" class="form-control"
                       [(ngModel)]="product.title" name="title"
                       #title="ngModel" required>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                    <div *ngIf="title.errors.required">Title is required.</div>
                </div>
            </div>
        
            <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">€</span>
                    <input id="price" type="number" class="form-control"
                           [(ngModel)]="product.price" name="price"
                           #price="ngModel" required [min]="0">
                           <!-- [min] je z CustomsFormsModule -->
                </div>
                <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                    <div *ngIf="price.errors.required">Price is required.</div>
                    <div *ngIf="price.errors.min">Price should be 0 or higher.</div>
                </div>
            </div>
        
            <div class="form-group">
                <label for="category">Category</label>
                <select [(ngModel)]="product.category" name="category" id="category" class="form-control"
                        #category="ngModel" required>
                    <option value=""></option>
                    <option *ngFor="let c of categories$ | async" [value]="c.key">
                        {{ c.name }}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                    Category is required.
                </div>
            </div>
        
            <div class="form-group">
                <label for="imageUrl">Image URL</label>
                <input id="imageUrl" type="text" class="form-control"
                [(ngModel)]="product.imageUrl" name="imageUrl"
                       #imageUrl="ngModel" required url>
                <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                    <div *ngIf="imageUrl.errors.required">Image URL is required.</div>
                    <div *ngIf="imageUrl.errors.url">Please enter a valid URL.</div>
                </div>
            </div>
            <button class="btn btn-primary">Save</button>
            <button class="btn btn-danger" type="button" (click)="delete()">Delete</button>
        </form>
    </div>
    
    <!-- Rigth col. -->
    <div class="col-md-6">
        <div class="edit-product">
            <product-card [product]="product" [showActions]="false"></product-card>
        </div>
        <!-- <div class="card" style="width: 18rem;">
            <img [src]="product.imageUrl" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">{{ product.price | currency:'EUR':'symbol'}}</p>
            </div>
        </div> -->
    </div>
</div>

