
<div class="sticky-top">
  <div class="list-group">
      <a class="list-group-item list-group-item-action"
         routerLink="/"
         [class.active]="!category">
         All Categories
      </a>
      <a *ngFor="let c of categories$ | async"
          routerLink="/"
          [queryParams]="{ category: c.key }"
          class="list-group-item list-group-item-action"
          [class.active]="category === c.key">
        {{ c.name }}
      </a>
  </div>
</div>