/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';

$light-shades: #f8f4f2;
$light-accent: #81BB8F;
$main-brand-color: #C3BE45;
$dark-accent: #848996;
$dark-shades: #3D4356;

body {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: $light-shades;
}

.container {
  max-width: 1600px;
}

.navbar-background {
  background-color: $light-shades;
}

.navbar-light .navbar-brand {
  color: $dark-accent;
  :hover {
    color: $dark-shades;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $dark-accent;
}

.navbar-light .navbar-nav .nav-item{
  :hover {
    color: $dark-shades;
  }
}

.list-group-item.active {
  color: #fff;
  background-color: $dark-accent;
  border-color: $dark-accent;
}

.line-flex {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
  }

  .customer-card {
    width: 250px;
    margin: 10px;
  }

  .edit-product {
    max-width: 400px;
  }
  
  .edit-product .card-img-top {
    object-fit: contain;
    max-height: 300px;
  }

  .customer-card .card-img-top {
    object-fit: cover;
    height: 180px;
  }

  